.form{
    display: flex;
    flex-direction: column;
    &__label{
        color: $bodyText;
        margin: 5px 0;
    }
    &__input{
        border: 2px solid $mainColor;
        width: 250px;
        height: 25px;
        outline: none;
        &:focus{
            border-color: $bodyText;
        }
        &.-error{
            border-color: $redColor;
        }
    }
}