@font-face {
    font-family: supreme;
    src: url('../../sources/fonts/SUPREME-REGULAR.OTF');
 }
@font-face {
    font-family: deserta;
    src: url('../../sources/fonts/DESERTA.OTF');
 }
@font-face {
    font-family: anurati;
    src: url('../../sources/fonts/ANURATI-REGULAR.OTF');
 }

.textBody{
    color : $bodyText;
    font-size: pxToRem(14);
    font-family: $textFontFamily;
}

.labelForm{
    color: $bodyText;
    font-size : pxTorem(12);
    font-family: $textFontFamily;
}

.title{
    @include title();
    &.-big{
        // font-size: pxToRem(14);
        font-size : pxTorem(35);
    }
    &.-little{
        font-size : pxTorem(20);
    }
    &.-menu{
        font-style: pxTorem(16);
        text-transform: uppercase;
        padding-right : 22px;
    }
    &.-icone{
        padding-right: 20px;
    }
}

.liens{
    &:hover{
        color : $mainColor;
        text-decoration: underline;
    }

    
}