.header{
    height : 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 18px;
    &__row{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-between;
    }
}

