.menu__list
{
    list-style: none;
    display:flex;
    align-items: center;

    .menu__item
    {
        margin:0px pxToRem(15);

        .menu__icone
        {
            width:pxToRem(35);
        }
    }
}