.menu
{
    &__list
    {
        list-style: none;
        display:flex;
        align-items: center;
    }

    &__item
    {
        margin:0px pxToRem(15);
    }

    &__icone
    {
        height:pxToRem(20);
    }
}