@font-face {
    font-family: supreme;
    src: url('../../fonts/SUPREME-REGULAR.OTF');
 }
@font-face {
    font-family: deserta;
    src: url('../../fonts/DESERTA.OTF');
 }
@font-face {
    font-family: anurati;
    src: url('../../fonts/ANURATI-REGULAR.OTF');
 }

.textBody{
    color : $bodyText;
    font-size: pxToRem(14);
    font-family: $textFontFamily;
}

.labelForm{
    color: $bodyText;
    font-size : pxTorem(12);
    font-family: $textFontFamily;
}

.title{
    @include title();
    &.-big{
        // font-size: pxToRem(14);
        font-size : pxTorem(35);
    }
    &.-little{
        font-size : pxTorem(20);
    }
}